.App {
  text-align: center;
  background-color: rgb(218, 216, 216); 
  
}
.App-navbar-e{
  z-index: 1;
}
.navbar-expand {

  z-index: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



#map {
  height: 180px;
}

.leaflet-container {
  z-index: 0 !important;
  width: 100%;
  height: 50vh;
  margin-top: -1.9em;
}

.card {
  background-color: #ecf0f3 !important;
  padding: 10px 10px;
  border-radius: 16px;
  align-items: center;
  box-shadow:
    4px 4px 4px 0px #d1d9e6 inset,
    -4px -4px 4px 0px #ffffff inset;
  
}

.card--button {
  width: 10%;
  background-color: rgb(213, 213, 213);
}

.cardsList {
  background-color: rgb(188, 188, 188); 
  height:80vh;
  overflow-y: scroll;
  margin-bottom:10px;
}

.card--details {
  margin-top: 130px;
  z-index: 4;
  border-radius: 5%;
  width: 80%;
  height: 400px;
  position: absolute;
  top: 0;
  left:10%;
  align-items: center;
  padding: 48px 64px;
  border-radius: 16px;
  background: #ecf0f3;
  box-shadow:
    4px 4px 4px 0px #d1d9e6 inset,
    -4px -4px 4px 0px #ffffff inset;

}

.details--icon {
  height:60px;
  width:60px;
  padding:10px;
  border-radius: 10px;
  align-self: center !important;
  background: rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow:
    4px 4px 4px 0px #d1d9e6 inset,
    -4px -4px 4px 0px #ffffff inset,
    4px 4px 10px 0px #9bbdc4 
    ;
    background: rgb(0, 0, 0);
}

.card--occupancy--icon {
  height:60px;
  width:60px;
  padding:10px;
  border-radius: 10px;
  box-shadow:
    4px 4px 4px 0px #d1d9e6 inset,
    -4px -4px 10px 0px #ffffff inset,
    4px 4px 10px 0px #9bbdc4 
    ;
    background: rgb(0, 0, 0);
}
.details--button {
  border-radius: 5px;
  background-color: rgb(142, 237, 237);
}

.stationSelect {
  border-radius: 4px;
  height: 30px;
  margin:10px;
  box-shadow:
  4px 4px 4px 0px #d1d9e6 inset,
  -4px -4px 4px 0px #ffffff inset,
  4px 4px 4px 0px #9bbdc4 
  ;
}

